[submodule "application-blueprints/xap-cluster-with-monitoring-and-persistency-cfy3"]
	path = application-blueprints/xap-cluster-with-monitoring-and-persistency-cfy3
	url = https://github.com/kemiz/xap-cluster-with-monitoring-and-persistency-cfy3
